.3_2 { 
	overflow:hidden;
}.e3_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1980px;
	height:4297px;
	position:absolute;
}.e13_70 { 
	width:1980px;
	height:662.5643310546875px;
	position:absolute;
	left:0px;
	top:2566px;
}.e13_71 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:1980px;
	height:662.5643310546875px;
	position:absolute;
	left:0px;
	top:0px;
}.e13_77 { 
	transform: rotate(180deg);
	width:40px;
	height:59.870269775390625px;
	position:absolute;
	left:1913px;
	top:331px;
}.e13_78 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:32.002498626708984px;
	height:52.3864860534668px;
	position:absolute;
	left:0.0006140922196209431px;
	top:3.99135160446167px;
}.e13_79 { 
	width:40px;
	height:59.870269775390625px;
	position:absolute;
	left:87px;
	top:324px;
}.e13_80 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:32.002498626708984px;
	height:52.3864860534668px;
	position:absolute;
	left:0.0006140922196209431px;
	top:3.99135160446167px;
}.e13_74 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:197px;
	height:201.56324768066406px;
	position:absolute;
	left:366px;
	top:253.4508056640625px;
}.e14_88 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:197px;
	height:201.56324768066406px;
	position:absolute;
	left:578px;
	top:253.4508056640625px;
}.e14_89 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:197px;
	height:201.56324768066406px;
	position:absolute;
	left:786px;
	top:253.4508056640625px;
}.e14_90 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:197px;
	height:201.56324768066406px;
	position:absolute;
	left:998px;
	top:253.4508056640625px;
}.e14_91 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:193px;
	height:201.56324768066406px;
	position:absolute;
	left:1208px;
	top:253.4508056640625px;
}.e14_92 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:197px;
	height:201.56324768066406px;
	position:absolute;
	left:1416px;
	top:253.4508056640625px;
}.e13_75 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:374px;
	height:40.91135025024414px;
	position:absolute;
	left:803px;
	top:152.669189453125px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e13_76 { 
	color:rgba(0, 0, 0, 1);
	width:305px;
	height:67.85297393798828px;
	position:absolute;
	left:837px;
	top:84.816162109375px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e13_69 { 
	width:1980px;
	height:1002px;
	position:absolute;
	left:0px;
	top:1564px;
}.e12_56 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:1980px;
	height:1002px;
	position:absolute;
	left:0px;
	top:0px;
}.e12_68 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:357px;
	height:277.98748779296875px;
	position:absolute;
	left:1256px;
	top:215.32994079589844px;
}.e12_67 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:357px;
	height:277.98748779296875px;
	position:absolute;
	left:811px;
	top:214.4474334716797px;
}.e27_212 { 
	background-color:rgba(237.43334501981735, 237.43334501981735, 237.43334501981735, 1);
	width:357px;
	height:356px;
	position:absolute;
	left:1256px;
	top:494px;
}.e27_207 { 
	width:357px;
	height:277.98748779296875px;
	position:absolute;
	left:366px;
	top:215.32994079589844px;
}.12_63 { 
	overflow:hidden;
}.e12_63 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:357px;
	height:277.98748779296875px;
	position:absolute;
	left:0px;
	top:0px;
}.e27_205 { 
	width:391px;
	height:311.11865234375px;
	position:absolute;
	left:-9px;
	top:0.05932203307747841px;
	background-image:url(images/z45a4880_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_208 { 
	background-color:rgba(237.43334501981735, 237.43334501981735, 237.43334501981735, 1);
	width:357px;
	height:356px;
	position:absolute;
	left:366px;
	top:495px;
}.e27_211 { 
	background-color:rgba(237.43334501981735, 237.43334501981735, 237.43334501981735, 1);
	width:357px;
	height:356px;
	position:absolute;
	left:811px;
	top:493px;
}.e12_61 { 
	color:rgba(255, 255, 255, 1);
	width:390px;
	height:36px;
	position:absolute;
	left:795px;
	top:122.342529296875px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e12_62 { 
	color:rgba(255, 255, 255, 1);
	width:374px;
	height:60.01000213623047px;
	position:absolute;
	left:803px;
	top:50px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e27_213 { 
	color:rgba(0, 0, 0, 1);
	width:234px;
	height:60px;
	position:absolute;
	left:437px;
	top:505px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e27_214 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:60px;
	position:absolute;
	left:911px;
	top:508px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e27_215 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:60px;
	position:absolute;
	left:1367px;
	top:508px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e27_216 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:263px;
	position:absolute;
	left:418px;
	top:579px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e28_217 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:263px;
	position:absolute;
	left:854px;
	top:579px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e28_218 { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:263px;
	position:absolute;
	left:1306px;
	top:579px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_52 { 
	width:1980px;
	height:654px;
	position:absolute;
	left:0px;
	top:910px;
}.e6_42 { 
	background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
	width:1980px;
	height:654px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_51 { 
	width:275px;
	height:52px;
	position:absolute;
	left:898px;
	top:478px;
}.e7_47 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:275px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_49 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:33px;
	position:absolute;
	left:80px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e6_46 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:710px;
	height:231px;
	position:absolute;
	left:898px;
	top:226px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e6_45 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:374px;
	height:42px;
	position:absolute;
	left:898px;
	top:184px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e6_44 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:70px;
	position:absolute;
	left:898px;
	top:100px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e46_62 { 
	width:275px;
	height:52px;
	position:absolute;
	left:898px;
	top:1388px;
}.e46_63 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:275px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e46_64 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:33px;
	position:absolute;
	left:80px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e46_65 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:710px;
	height:231px;
	position:absolute;
	left:898px;
	top:1136px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e46_66 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:374px;
	height:42px;
	position:absolute;
	left:898px;
	top:1094px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e46_67 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:70px;
	position:absolute;
	left:898px;
	top:1010px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e46_74 { 
	width:275px;
	height:52px;
	position:absolute;
	left:898px;
	top:1388px;
}.e46_75 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:275px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e46_76 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:33px;
	position:absolute;
	left:80px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e46_77 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:710px;
	height:231px;
	position:absolute;
	left:898px;
	top:1136px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e46_78 { 
	color:rgba(0, 0, 0, 0.6600000262260437);
	width:374px;
	height:42px;
	position:absolute;
	left:898px;
	top:1094px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e46_79 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:70px;
	position:absolute;
	left:898px;
	top:1010px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e15_130 { 
	width:1980px;
	height:1068px;
	position:absolute;
	left:0px;
	top:3229px;
}.e14_94 { 
	background-color:rgba(80.74999898672104, 80.74999898672104, 80.74999898672104, 1);
	width:1980px;
	height:968px;
	position:absolute;
	left:0px;
	top:0px;
}.e15_127 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:205px;
	position:absolute;
	left:837px;
	top:312px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e15_119 { 
	width:36px;
	height:36px;
	position:absolute;
	left:1193px;
	top:429px;
}.e15_120 { 
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:27px;
	position:absolute;
	left:0px;
	top:4.5px;
}.e15_101 { 
	width:374px;
	height:108.76437377929688px;
	position:absolute;
	left:372px;
	top:126px;
}.e15_98 { 
	color:rgba(255, 255, 255, 1);
	width:374px;
	height:40.91135025024414px;
	position:absolute;
	left:0px;
	top:67.85302734375px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e15_99 { 
	color:rgba(255, 255, 255, 1);
	width:305px;
	height:67.85297393798828px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e15_102 { 
	width:374px;
	height:108.76437377929688px;
	position:absolute;
	left:837px;
	top:126px;
}.e15_103 { 
	color:rgba(255, 255, 255, 1);
	width:374px;
	height:40.91135025024414px;
	position:absolute;
	left:0px;
	top:67.85302734375px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e15_104 { 
	color:rgba(255, 255, 255, 1);
	width:305px;
	height:67.85297393798828px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e15_105 { 
	background-color:rgba(255, 255, 255, 1);
	width:389px;
	height:73px;
	position:absolute;
	left:366px;
	top:312px;
}.e15_106 { 
	background-color:rgba(255, 255, 255, 1);
	width:389px;
	height:73px;
	position:absolute;
	left:366px;
	top:411px;
}.e15_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:389px;
	height:224px;
	position:absolute;
	left:366px;
	top:510px;
}.e15_108 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:188px;
	height:73px;
	position:absolute;
	left:366px;
	top:760px;
}.e15_110 { 
	color:rgba(144.49999898672104, 144.49999898672104, 144.49999898672104, 1);
	width:113px;
	height:30px;
	position:absolute;
	left:372px;
	top:333px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e15_111 { 
	color:rgba(144.49999898672104, 144.49999898672104, 144.49999898672104, 1);
	width:166px;
	height:30px;
	position:absolute;
	left:372px;
	top:532px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e15_113 { 
	color:rgba(255, 255, 255, 1);
	width:83px;
	height:30px;
	position:absolute;
	left:419px;
	top:781px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e15_112 { 
	color:rgba(144.49999898672104, 144.49999898672104, 144.49999898672104, 1);
	width:65px;
	height:30px;
	position:absolute;
	left:372px;
	top:432px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e15_118 { 
	color:rgba(255, 255, 255, 1);
	width:275px;
	height:41px;
	position:absolute;
	left:1248px;
	top:363px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e15_121 { 
	color:rgba(255, 255, 255, 1);
	width:346px;
	height:41px;
	position:absolute;
	left:1248px;
	top:427px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e15_116 { 
	width:36px;
	height:36px;
	position:absolute;
	left:1190px;
	top:363px;
}.e15_117 { 
	background-color:rgba(255, 255, 255, 1);
	width:36.00074005126953px;
	height:36.000762939453125px;
	position:absolute;
	left:-0.0008508907631039619px;
	top:-0.0010606651194393635px;
}.e15_128 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:1980px;
	height:100px;
	position:absolute;
	left:0px;
	top:968px;
}.e15_129 { 
	color:rgba(255, 255, 255, 1);
	width:871px;
	height:41px;
	position:absolute;
	left:624px;
	top:998px;
	font-family:Roboto;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e20_131 { 
	background-color:rgba(80.74999898672104, 80.74999898672104, 80.74999898672104, 1);
	width:1980px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}.e20_132 { 
	color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:180px;
	height:28px;
	position:absolute;
	left:1221px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e20_133 { 
	color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:55px;
	height:28px;
	position:absolute;
	left:1428px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e20_134 { 
	color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:98px;
	height:28px;
	position:absolute;
	left:1511px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e21_136 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1733px;
	top:35px;
}.e29_219 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1198px;
	top:3728px;
}.e21_138 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1799px;
	top:35px;
}.e29_220 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1264px;
	top:3728px;
}.e21_140 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1865px;
	top:35.00009536743164px;
}.e29_221 { 
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:1330px;
	top:3728.423583984375px;
}.e29_222 { 
	width:150px;
	height:150px;
	position:absolute;
	left:1190px;
	top:3355px;
	background-image:url(images/radio_gham_chhaya_logo_1_120x120_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_143 { 
	box-shadow:20px 20px 15px rgba(137.06250607967377, 137.06250607967377, 137.06250607967377, 0.44999998807907104);
	width:550px;
	height:476.6666564941406px;
	position:absolute;
	left:318px;
	top:1026px;
}.e27_144 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:128.06866455078125px;
	height:134.29342651367188px;
	position:absolute;
	left:300.2380676269531px;
	top:210.01580810546875px;
}.e27_145 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:128.06866455078125px;
	height:134.29342651367188px;
	position:absolute;
	left:300.2380676269531px;
	top:210.01580810546875px;
}.e27_146 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:107.22247314453125px;
	height:139.1842498779297px;
	position:absolute;
	left:159.3487548828125px;
	top:200.51341247558594px;
}.e27_147 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:107.22247314453125px;
	height:139.1842498779297px;
	position:absolute;
	left:159.3487548828125px;
	top:200.51341247558594px;
}.e27_148 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:23.536773681640625px;
	height:31.06976318359375px;
	position:absolute;
	left:119.49085998535156px;
	top:134.82553100585938px;
}.e27_149 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:18.631256103515625px;
	height:38.6895751953125px;
	position:absolute;
	left:120.90374755859375px;
	top:153.570556640625px;
}.e27_150 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:23.516845703125px;
	height:38.720680236816406px;
	position:absolute;
	left:117.65737915039062px;
	top:122.8196029663086px;
}.e27_151 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:5.3690032958984375px;
	height:7.05609130859375px;
	position:absolute;
	left:125.32475280761719px;
	top:151.32911682128906px;
}.e27_152 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:4.829498291015625px;
	height:8.696060180664062px;
	position:absolute;
	left:140.36000061035156px;
	top:147.42002868652344px;
}.e27_153 { 
	background-color:rgba(206.0000029206276, 129.00000751018524, 114.0000008046627, 1);
	opacity:0.3100000023841858;
	width:7.72796630859375px;
	height:11.194183349609375px;
	position:absolute;
	left:127.98452758789062px;
	top:162.26663208007812px;
}.e27_154 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:21.58563232421875px;
	height:28.469512939453125px;
	position:absolute;
	left:415.8570251464844px;
	top:138.01968383789062px;
}.e27_155 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:17.105010986328125px;
	height:35.495697021484375px;
	position:absolute;
	left:419.0999755859375px;
	top:155.19911193847656px;
}.e27_156 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:4.430999755859375px;
	height:7.9845733642578125px;
	position:absolute;
	left:413.9127502441406px;
	top:149.55455017089844px;
}.e27_157 { 
	background-color:rgba(206.0000029206276, 129.00000751018524, 114.0000008046627, 1);
	opacity:0.3100000023841858;
	width:7.091278076171875px;
	height:10.277145385742188px;
	position:absolute;
	left:422.60626220703125px;
	top:163.16778564453125px;
}.e27_158 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:9.240020751953125px;
	height:56.6982421875px;
	position:absolute;
	left:218.04750061035156px;
	top:276.8172912597656px;
}.e27_159 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.46000000834465027;
	width:9.240020751953125px;
	height:56.6982421875px;
	position:absolute;
	left:218.2124786376953px;
	top:276.8172912597656px;
}.e27_160 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:39.297515869140625px;
	height:15.162750244140625px;
	position:absolute;
	left:203.1837615966797px;
	top:324.4084167480469px;
}.e27_161 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:39.29750061035156px;
	height:15.162750244140625px;
	position:absolute;
	left:203.01873779296875px;
	top:324.4084167480469px;
}.e27_162 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:111.6233901977539px;
	height:148.87637329101562px;
	position:absolute;
	left:73.47879791259766px;
	top:190.69479370117188px;
}.e27_163 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:28.517486572265625px;
	height:60.79328918457031px;
	position:absolute;
	left:208.57374572753906px;
	top:228.1035919189453px;
}.e27_164 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:9.240020751953125px;
	height:56.6982421875px;
	position:absolute;
	left:341.5637512207031px;
	top:276.8172912597656px;
}.e27_165 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.46000000834465027;
	width:9.239990234375px;
	height:56.6982421875px;
	position:absolute;
	left:341.728759765625px;
	top:276.8172912597656px;
}.e27_166 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:39.297515869140625px;
	height:15.162750244140625px;
	position:absolute;
	left:326.6999816894531px;
	top:324.4084167480469px;
}.e27_167 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:39.2974853515625px;
	height:15.162750244140625px;
	position:absolute;
	left:326.5350036621094px;
	top:324.4084167480469px;
}.e27_168 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:28.51751708984375px;
	height:60.79328918457031px;
	position:absolute;
	left:332.0899963378906px;
	top:228.1035919189453px;
}.e27_169 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:106.9759521484375px;
	height:118.09233093261719px;
	position:absolute;
	left:71.5px;
	top:221.65272521972656px;
}.e27_170 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:109.20771789550781px;
	height:130.25270080566406px;
	position:absolute;
	left:54.55477523803711px;
	top:209.49986267089844px;
}.e27_171 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.20000000298023224;
	width:109.20771789550781px;
	height:130.25270080566406px;
	position:absolute;
	left:54.55477523803711px;
	top:209.49986267089844px;
}.e27_172 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:17.158920288085938px;
	height:21.639068603515625px;
	position:absolute;
	left:159.3487548828125px;
	top:288.08087158203125px;
}.e27_173 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:106.38919067382812px;
	height:152.5762176513672px;
	position:absolute;
	left:384.6490173339844px;
	top:188.82908630371094px;
}.e27_174 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:86.5150146484375px;
	height:127.56312561035156px;
	position:absolute;
	left:398.75px;
	top:213.84205627441406px;
}.e27_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:27.101287841796875px;
	height:15.97705078125px;
	position:absolute;
	left:419.0999755859375px;
	top:189.224365234375px;
}.e27_176 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:44.21661376953125px;
	height:66.50799560546875px;
	position:absolute;
	left:416.9687194824219px;
	top:128.76832580566406px;
}.e27_177 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:99.5159912109375px;
	height:132.25782775878906px;
	position:absolute;
	left:395.90374755859375px;
	top:211.8408966064453px;
}.e27_178 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:80.93254089355469px;
	height:93.06356811523438px;
	position:absolute;
	left:208.4499969482422px;
	top:66.56265258789062px;
}.e27_179 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.23999999463558197;
	width:37.417633056640625px;
	height:69.56840515136719px;
	position:absolute;
	left:250.61737060546875px;
	top:89.96287536621094px;
}.e27_180 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:80.93255615234375px;
	height:93.0635757446289px;
	position:absolute;
	left:261.71746826171875px;
	top:98.21625518798828px;
}.e27_181 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:4.88970947265625px;
	height:6.484619140625px;
	position:absolute;
	left:428.9999694824219px;
	top:149.89697265625px;
}.e27_182 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:19.24371337890625px;
	height:31.068939208984375px;
	position:absolute;
	left:386.9588317871094px;
	top:256.0887451171875px;
}.e27_183 { 
	transform: rotate(-51.06726952584988deg);
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:21.518722534179688px;
	height:8.59373664855957px;
	position:absolute;
	left:393.18157958984375px;
	top:289.1878356933594px;
}.e27_184 { 
	background-color:rgba(244.0000006556511, 162.00000554323196, 140.00000685453415, 1);
	width:17.79254150390625px;
	height:11.355743408203125px;
	position:absolute;
	left:266.5712585449219px;
	top:328.2154235839844px;
}.e27_185 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:38.67877197265625px;
	height:23.099853515625px;
	position:absolute;
	left:185.1024932861328px;
	top:134.4392547607422px;
}.e27_186 { 
	background-color:rgba(36.00000165402889, 40.00000141561031, 91.00000217556953, 1);
	width:38.6925048828125px;
	height:23.099899291992188px;
	position:absolute;
	left:326.91998291015625px;
	top:154.01327514648438px;
}.e27_187 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:12.4024658203125px;
	height:14.261505126953125px;
	position:absolute;
	left:277.8462829589844px;
	top:137.99671936035156px;
}.e27_188 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:12.402435302734375px;
	height:14.261505126953125px;
	position:absolute;
	left:297.4400329589844px;
	top:137.99671936035156px;
}.e27_189 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:12.4024658203125px;
	height:14.261505126953125px;
	position:absolute;
	left:316.3462829589844px;
	top:137.99671936035156px;
}.e27_190 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:12.4024658203125px;
	height:14.261528015136719px;
	position:absolute;
	left:223.46502685546875px;
	top:106.95967102050781px;
}.e27_191 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:12.402511596679688px;
	height:14.261528015136719px;
	position:absolute;
	left:243.05874633789062px;
	top:106.95967102050781px;
}.e27_192 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:12.4024658203125px;
	height:14.261528015136719px;
	position:absolute;
	left:261.96502685546875px;
	top:106.95967102050781px;
}.e27_193 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:28.517486572265625px;
	height:40.19154357910156px;
	position:absolute;
	left:208.57374572753906px;
	top:228.1035919189453px;
}.e27_194 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:28.51751708984375px;
	height:40.19154357910156px;
	position:absolute;
	left:332.0899963378906px;
	top:228.1035919189453px;
}.e27_195 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:37.41375732421875px;
	height:15.146942138671875px;
	position:absolute;
	left:229.15750122070312px;
	top:324.4242248535156px;
}.e27_196 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:7.030403137207031px;
	height:20.870513916015625px;
	position:absolute;
	left:116.92584228515625px;
	top:130.89756774902344px;
}.e27_197 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:7.030403137207031px;
	height:20.870513916015625px;
	position:absolute;
	left:116.92584228515625px;
	top:130.89756774902344px;
}.e27_198 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:14.740013122558594px;
	height:16.949386596679688px;
	position:absolute;
	left:116.58625030517578px;
	top:149.06442260742188px;
}.e27_199 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:7.01666259765625px;
	height:20.870559692382812px;
	position:absolute;
	left:433.9362487792969px;
	top:128.4310302734375px;
}.e27_200 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.07999999821186066;
	width:7.01666259765625px;
	height:20.870559692382812px;
	position:absolute;
	left:433.9362487792969px;
	top:128.4310302734375px;
}.e27_201 { 
	background-color:rgba(252.00000017881393, 104.00000140070915, 104.00000140070915, 1);
	width:14.739990234375px;
	height:16.949386596679688px;
	position:absolute;
	left:426.5662841796875px;
	top:146.597900390625px;
}.e27_202 { 
	background-color:rgba(255, 210.00000268220901, 0, 1);
	width:10.86248779296875px;
	height:12.490631103515625px;
	position:absolute;
	left:396.9075012207031px;
	top:277.671142578125px;
}.e27_203 { 
	background-color:rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
	width:454.6712646484375px;
	height:19.4791259765625px;
	position:absolute;
	left:47.96000671386719px;
	top:339.5711975097656px;
}.e27_204 { 
	background-color:rgba(165.00000536441803, 165.00000536441803, 165.00000536441803, 1);
	opacity:0.4000000059604645;
	width:454.6712646484375px;
	height:40.855621337890625px;
	position:absolute;
	left:47.96000671386719px;
	top:359.03448486328125px;
}.e168_2 { 
	width:1980px;
	height:819.3408203125px;
	position:absolute;
	left:0px;
	top:90.6591796875px;
}.e168_3 { 
	background-color:rgba(0, 0, 0, 0.6499999761581421);
	width:1980px;
	height:819.3406372070312px;
	position:absolute;
	left:0px;
	top:0px;
}.e168_4 { 
	border-radius:500px;
	background-color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:22px;
	height:22.53186798095703px;
	position:absolute;
	left:942px;
	top:761.9868774414062px;
}.e168_5 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22px;
	height:22.53186798095703px;
	position:absolute;
	left:979px;
	top:761.9868774414062px;
}.e168_6 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22px;
	height:22.53186798095703px;
	position:absolute;
	left:1016px;
	top:763.98681640625px;
}.e168_7 { 
	width:40px;
	height:61.4505500793457px;
	position:absolute;
	left:45px;
	top:378.9450378417969px;
}.e168_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:32.002498626708984px;
	height:53.769229888916016px;
	position:absolute;
	left:0.0006140922196209431px;
	top:4.096703052520752px;
}.e168_9 { 
	transform: rotate(180deg);
	width:40px;
	height:61.4505500793457px;
	position:absolute;
	left:1935px;
	top:378.945068359375px;
}.e168_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:32.002498626708984px;
	height:53.769229888916016px;
	position:absolute;
	left:0.0006140922196209431px;
	top:4.096703052520752px;
}.e168_11 { 
	width:1980px;
	height:819px;
	position:absolute;
	left:0px;
	top:0.3408203125px;
	background-image:url(images/z45a5418_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e168_12 { 
	color:rgba(255, 255, 255, 1);
	width:499px;
	height:57.353843688964844px;
	position:absolute;
	left:975px;
	top:409.3408203125px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e168_13 { 
	color:rgba(255, 255, 255, 1);
	width:651px;
	height:85px;
	position:absolute;
	left:964px;
	top:325.3408203125px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}.e7_53 { 
	width:858px;
	height:28px;
	position:absolute;
	left:755px;
	top:231px;
}.e4_14 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:740px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e4_16 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:28px;
	position:absolute;
	left:560px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e4_15 { 
	color:rgba(255, 255, 255, 1);
	width:48px;
	height:28px;
	position:absolute;
	left:448px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e4_13 { 
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:28px;
	position:absolute;
	left:291px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e4_12 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:28px;
	position:absolute;
	left:129px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e4_11 { 
	color:rgba(255, 15.000000055879354, 89.00000229477882, 1);
	width:65px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e27_142 { 
	width:130px;
	height:130px;
	position:absolute;
	left:371px;
	top:180px;
	background-image:url(images/radio_gham_chhaya_logo_1_120x120_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}